/* General Styles */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space between header, content, and footer */
    height: 100vh; /* Full viewport height */
    width: 100%; /* Ensure no horizontal overflow */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #000000 url("../img/background2-3.jpg") center no-repeat;
    background-size: cover;
    overflow: hidden; /* Prevent scrollbars */
    color: white;
}

/* Main Content */
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex: 1; /* Take up remaining space between header and footer */
    box-sizing: border-box; /* Include padding in width/height calculations */
    max-width: 100%; /* Prevent content overflow horizontally */
    overflow: hidden; /* Ensure content stays within boundaries */
}

.main-content-inner {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    padding: 20px;
    text-align: center;
    max-width: 90%; /* Adjust to prevent horizontal overflow */
    box-sizing: border-box;
    overflow-wrap: break-word; /* Wrap long words to prevent horizontal scrolling */
}

.main-content .title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.main-content .message {
    text-align: left;
    width: 100%; /* Adjust to fit within container */
    word-wrap: break-word;
    line-height: 1.6;
    margin-bottom: 20px;
}

.message .text-centered{
    text-align: center;
}

#cat-button{
    background-color: rgba(255,255,255,1);
    border: none;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

#cat-button:hover{
    background-color: rgba(255,147,210,1);
}

.cat-image {
    width: 80px; /* Adjust to make the cat image smaller */
    height: auto;
    margin-top: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cat-image:hover{

}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 100%; /* Ensure no horizontal overflow */
    text-align: center;
    color: #fff;
    box-sizing: border-box;
}

footer img {
    width: 60%;
    max-width: 300px; /* Controls max image size */
    height: auto;
    margin-bottom: 10px;

}

footer p {
    font-size: 14px;
    margin: 0;
}
